<%- include('../includes/head.ejs') %>
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
      <h1><%= product.title %></h1>
      <hr>
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      <h2><%= product.price %></h2>
      <p><%= product.description %></p>
      <%- include('../includes/add-to-cart.ejs') %>
      <!-- No need for "include('../includes/add-to-cart.ejs'), {product: product}" because we're not inside a loop, the product variable is available globally -->
    </main>
    <%- include('../includes/end.ejs') %>